form {
    color: white;
    border: solid 5px white;
    padding: 25px;
    margin: auto;
    margin-top: 25px;
    font-weight: bold;
    font-size: 18px;
    width: 25%;
}

h2{
    margin: 0;
}
#add{
    font-size: 30px;
    color: white;
    background-color: #555969;
    padding: 15px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#add:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #17374d;
}

#register{
    font-size: 18px;
    margin-left: 50px;
    margin-top: 20px;
    background-color: #555969;
    padding: 10px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#register:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #305769;
}