table {
    border-collapse: collapse;
    border: 5px solid #dddddd;
    width: 75%;
    color: white;
    margin: auto ;
    margin-top: 15px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}